.small-city-card {
  width: 20rem;
  height: 5rem;
  padding: 1rem;
  margin: 1rem;
  box-shadow: var(--lightshadow);
  border-radius: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
