.city-card {
  width: 30rem;
  min-height: 50vh;
  padding: 1rem;
  margin: 1rem;
  border-radius: 1rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
}

.city-card h2 {
  text-transform: capitalize;
}

.city-card h1,
.city-card h2 {
  margin-bottom: 2.5rem;
}

.city-card img {
  margin-bottom: 2rem;
}

.city-card .wind-container {
  width: 80%;
  height: 10rem;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
}

.city-card .wind-container div {
  width: 100%;
  height: 10rem;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
