.header {
  width: 10rem;
  height: 8rem;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header div {
  width: 8rem;
  height: 8rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
